<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925535730322-mobnd567jo6ulhop6h91al67s388ilrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925535730322-mobnd567jo6ulhop6h91al67s388ilrn</string>
	<key>API_KEY</key>
	<string>AIzaSyDM3-aO_unVPofnDa3xuZPvwD2IzeT57gs</string>
	<key>GCM_SENDER_ID</key>
	<string>925535730322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashryupp.app</string>
	<key>PROJECT_ID</key>
	<string>auser-e7cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>auser-e7cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925535730322:ios:1fa390afe06108243b844b</string>
	<key>DATABASE_URL</key>
	<string>https://auser-e7cd9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>